body{
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
}
.container{
    background-color: rgba(1, 24, 24, 0.4);
    text-align: justify;
    width: 70%;;
    padding: 25px;
    margin: 40px auto;
    box-shadow: 5px 5px 3px grey;
    border: 2px solid black;
    border-radius: 20px 20px;
    overflow-y: scroll;
   
}
.head{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 1.6;
    word-spacing: normal;
    color: white;
    font-size: 18px;
    word-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
